{% extends 'layout.html.twig' %}
{% block title %}Welcome to Bootstrap4 in Symfony{% endblock %}
{% block nav %}{% include '_inc/nav.html.twig' %}{% endblock %}
{% block main %}
    <h1>main</h1>
{% endblock %}
{% block aside %}
    <h1>aside</h1>
{% endblock %}