{% extends 'layout.html.twig' %}
{% block title %}Admin Page{% endblock %}
{% block nav %}{% include '_inc/nav.html.twig' %}{% endblock %}
{% block main %}
    <h1>Welcome!</h1>
    <hr>
    <div class="row">
        <div class="col">
            <h1>Administration</h1>
            <p>
                <a href="{{ url('admin.product.index') }}" class="btn btn-primary">Gérer les produits</a>
            </p>
            <p>
                <a href="{{ url('admin.category.add') }}" class="btn btn-primary">Gérer les catégories</a>
            </p>
            <p>
                <a href="{{ url('admin.client.all') }}" class="btn btn-primary">Gérer les clients</a>
            </p>
            <p>
                <a href="{{ url('admin.achats.all') }}" class="btn btn-primary">Visualiser les achats</a>
            </p>
        </div>
    </div>
{% endblock %}
{% block aside %}
{% endblock %}