<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bootstrap 4 - Layout{% endblock %}</title>
    {# asset() : cible le dossier public #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
    {% block nav %}{% endblock %}
    <div class="container">
        <div class="row">
            <main class="col-sm-9">
                {% block main %}{% endblock %}
            </main>
            <aside class="col-sm-3">
                {% block aside %}{% endblock %}
            </aside>
        </div>
    </div>

    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>